<h4>{{this.spaceShip.modelName}}</h4>
<div class="images">
  <img [src]="this.spaceShip.imageUrl"/>
</div>
<div class="health" [title]="'Zdrowie ' + this.spaceShip.health + '%'">
  <div [style.width.%]="this.spaceShip.health"></div>
</div>
<div class="property" [ngClass]="{active:this.spaceShip.activeShields}">
  SHIELDS
</div>
<div class="property" [class.active]="this.spaceShip.activeWeapons">
  WEAPONS
</div>
<div class="images">
  <!-- ... -->
  <img class="pilot" [title]="spaceShip.pilot.fullName" [alt]="spaceShip.pilot.fullName" *ngIf="spaceShip.pilot"
       [src]="spaceShip.pilot.imageUrl"/>
</div>
