<div class="row">
  <div class="col-6">
    <h1>Hangar {{name}}</h1>
    @for (spaceShip of spaceShips | async; track spaceShip) {
      <app-space-ship [spaceShip]="spaceShip">
        @if (selectedPilot && !spaceShip.pilot) {
          <button (click)="assignPilot(spaceShip)">Pilotuj</button>
        }
        @if (spaceShip.pilot) {
          <button (click)="unAssignPilot(spaceShip)">Opuść</button>
        }
      </app-space-ship>
    }
  </div>
  <div class="col-6">
    <app-pilot-room (selected)="onSelected($event)"></app-pilot-room>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="sub-nav">
      <a routerLink="production" routerLinkActive="active">Production</a>
      &nbsp;
      <a routerLink="destruction" routerLinkActive="active">Destruction</a>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="col-6">

  </div>
</div>
